div(id="tips") 
   h2(class="titulotips") This a blackspace to write anything you want. The text in this space is not going to change.
   img.pina(src="img/pina3.png") 
   div(class="redes")
     a(href="https://www.instagram.com/alicia.yay/")
       i.fa.fa-lg.fa-bath
     a(href="https://www.instagram.com/alicia.yay/")        
       i.fa.fa-lg.fa-instagram
     a(href="https://www.instagram.com/alicia.yay/")    	
       i.fa.fa-lg.fa-facebook-official
   
