extends layout


block extra
 h1(class="tituloblog") Hello World
 p ahora esta es otra prueba de tener diferentes páginas
 img(src=asset(entry.imagen), class="bild")
 p= entry.contenido
 

 
       
        
