.miblog img

  width: 300px
  height: auto

h2.titulo2
  color:green  
  
.miblog
	width: 100%		
	
.miblog a
	text-decoration: none
	color: black
	cursor: pointer
			
.miblog li 
	margin-top: 10px
	padding-left: 30px
	display: inline
	float: left


	
