#home 
   height: 700px
   background: url(../img/pina2.jpg) no-repeat center center
   overflow: hidden

h1.titulohome
	color: white
	margin-top: 20%   
	text-align: center
	font-size: 70px
	  	
#tips
   height: 700px
   
h2.titulotips
	margin-top:15%
	text-align: center

.pina 
    margin-left:48%
    
.redes
    margin-top:5%
    
i 
	
	margin-left:23%
	
h1.tituloblog
    text-align: center   
	
h1.titulo
  color:green

img.bild
   width: 300px
   height: auto

p
  color:green
  font-size: 2em       