@import '_settings'
@import 'extra'
@import 'blog'
@import 'nav'





normalize-css()
base()

body
  padding: 1px

h1
  color:blue
  font-size: 3em

li
  display: inline
  

img
  width: 200px
  height: auto     

h1.tituloblog
   color: green

.blog ul li
	display: inline   